extends layout 

block main-content 
  div.about-content
    h1.page-title #{title}
    img.about-image(alt="This is a picture of our employee making doughnuts" src="images/about.jpg")
    p Yummy Doughnuts is a doughnuts shop in Eaton Centre founded in 1998. Our most popular doughnut - chocolate glazing, is sold more than 10,000 times a day.