extends layout 


block main-content 
  .hero 
    //- https://www.thepioneerwoman.com/food-cooking/cooking-tips-tutorials/g41649724/types-of-doughnuts/
    img.hero__image.stack-item(alt="This is a picture of our different doughnuts" src="images/doughnuts.jpg")
    div.hero__text.stack-item 
      h2.hero-text We spread happiness with our doughnuts